*{margin: 0;padding: 0;}
a {
    text-decoration: none; /* 去除下划线 */
    color: inherit; 
    cursor: pointer; /* 修改鼠标指针样式 */
  }
@font-face {
    font-family: 'Museo';
    src: url(../font/Museo\ Sans\ 500\ 字体.ttf);
}