
p{
    margin: 0;
}
ul li {
    list-style: none;
}
html{
    font-size: 12px;
    color: #4e4e4e;
    font-family: 'Museo';
}
body{
    width: 100%;
    height: 100%;
    /* background: #eaeaea; */
}
header{
    width: 105.3125rem;
    /* width: 100vw; */
    margin: 0 auto;
}
header>p{
    font-size: 1.25rem;
    color: #666;
    margin: .625rem;
    letter-spacing: .3rem;
}
.header-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.25rem auto;
}
.logo img{
    display: block;
    height: 5.3125rem;
}
.hot_tel img{
    display: block;
    height: 5.3125rem;
}
.search_top{
    height: 3.875rem;
    width: 32.375rem;
    border: .125rem solid #999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .5rem;
}
.search_top input{
    height: 2.8125rem;
    width: 29rem;
    border: none;
    outline: none;
    
}
::-webkit-input-placeholder{/*Webkit browsers*/
	color:#ccc;
	font-size:1.25rem;
    line-height: 2.8125rem;
    padding-left: .2rem;
    /* text-align: center; */
}
:-moz-placeholder{/*Mozilla Firefox 4 to 8*/
	color:#ccc;
	font-size:1.25rem;
    /* text-align: center; */
    padding-left: .2rem;
    line-height: 2.8125rem;
}
::moz-placeholder{/*Mozilla Firefox 19+*/
	color:#cccc;
	font-size:1.25rem;
    text-align: center;
    padding-left: .2rem;
    line-height: 2.8125rem;
}
:-ms-input-placeholder{/*Internet Explorer 10+*/
    color:#ccc;
    font-size:1.25rem;
    line-height: 2.8125rem;
    padding-left: .2rem;
    /* text-align: center; */
}

.search_top span{
    display: block;
    width: 2rem;
    height: 1.5rem;
    background: url('../img/icon_serch.png') no-repeat center/ auto 100%;
}
.search_key{
    display: flex;
    align-items: center;
    margin: .3125rem auto;
    font-size: 1.1rem;
    color: #666;
    padding-left: .4rem;
}
.search_key p{
    margin: 0;
}
.search_key div{
    margin: .3125rem;
    cursor: pointer;
}
.search_key div:hover{
    color: blue;
    cursor: pointer;
}
.search_key span{
    margin: .125rem;
}
.nav_wrap{
    background: #ddd;
}
.tab-tilte{
    display: flex;
    background: #ddd;
    width: 105.3125rem;
    margin: 0 auto;
}
.tab-tilte li{
    /* padding: 1.25rem 6.25rem; */
    width: 26.25rem;
    height: 4.75rem;
    line-height: 4.6875rem;
    text-align: center;
    font-size: 1.875rem;
    /* font-weight: bolder; */
    color: #4d4d4d;
}
.tab-tilte a{
    display: block;
    /* width: 100%;
    height: 100; */
    text-align: center;
    color: #4d4d4d;
}
.tab-tilte li a:hover{
    width: 26.25rem;
    height: 4.75rem;
    line-height: 4.6875rem;
    background: #019b4b;
    color: #fff;
    text-decoration: none;
}

.tab-tilte .active a{
    background: #019b4b;
    color: #fff;
}
.tab-content div{
    display: none;
}
.tab-content .cur{
    display: block;
}
main{
    background: #eaeaea;
    padding-bottom: 6.875rem;
}
.content{
    width: 105.3125rem;
    margin: 0 auto;
    overflow: hidden;
}
.alt_about{
    display: flex;
    align-items: center;
    margin: 3.125rem 0 2.25rem;
}
.alt_about div{
    font-size: 2.1875rem;
}
.alt_about span{
    display: block;
    width: .3125rem;
    height: 2.5625rem;
    border-radius: .125rem;
    background: #019b4b;
    margin: 0 .3125rem;
}
.about_box{
   
}
.about1{
    display: flex;
    justify-content: space-between;
    margin: 2.25rem 0;
}
.about1 img{
    width: 51.375rem;
    height: 31.25rem;
}
.about_txt{
    width: 51.375rem;
    height: 31.25rem;
    padding: 1.875rem;
    background: #fff;
    font-size: 1.625rem;
    position: relative;
}
/* .about_txt h3{
    font-size: 1.625rem;
} */
.about_txt div{
    
    margin: .625rem 0;
} 
.about_txt div p{
    font-size: 1.5rem;
    color: #4c4c4c;
    line-height: 2.5rem;
    text-indent: 4ch;
    margin-bottom: .5rem;
    text-align: justify;

}
.about_txt span{
    display: block;
    padding: .625rem .3125rem;
    border-radius: .3125rem;
    width: 10.625rem;
    height: 3.4375rem;
    position: absolute;
    right: 1.875rem;
    bottom: 1.875rem;
    cursor: pointer;
    background: url(../img/btn.png) no-repeat center/ 100% auto ;
}
.news {
    background: #fff;
    padding: 5.625rem 0;
  }
  .news-container {
    width: 105.3125rem;
    margin: 0 auto;
  }
  .news .news-tilte {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
  }
  .news .news-tilte::after {
    content: ' ';
    background: url('../img/news_line.png') no-repeat center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .125rem;
  }
  .news .news-tilte li {
    margin: 0 1.25rem;
    padding-bottom: 1.125rem;
    position: relative;
    font-size: 2.25rem;
    cursor: pointer;
    color: #4d4d4d;
  }
  .news .news-tilte li:first-child {
    margin-left: 0; 
  }
  .news-tilte li:hover{
    color: #14944a;
  }
  .news .news-tilte li.active {
    color: #14944a;
  }
  
  .news .news-tilte .news_more {
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 1.625rem;
    transform: translateY(-50%);
    color: #8E8E8E;
    cursor: pointer;
  }
  .news-tilte li:hover::after {
    content: ' ';
    background: url('../img/news_active_line.png') no-repeat center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .125rem;
    z-index: 1;
  }
  
  .news .news-tilte li.active::after {
    content: ' ';
    background: url('../img/news_active_line.png') no-repeat center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .125rem;
    z-index: 1;
  }
  .box-contenter>div {
    height: 20.5rem;
    display: none;
  }
  .box-contenter>.active {
    display: block;
  }
  .news .news-content {
    margin-top: 1.875rem;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
  }
  
  .news .news-content .new_left_img {
    width: 31.875rem;
  }
  .news .news-content .new_left_img img {
    width: 100%;
  }
  
  .news .news-content .new_right_context {
    flex: 1;
    margin-left: 2rem;
  }
  .news .news-content .new_right_context li {
    display: flex;
    justify-content: space-between;
    padding: .875rem 0;
    /* height: 5rem;
    line-height: 5rem; */
    position: relative;
    /* border-bottom: .125rem dashed rgba(253, 162, 45, 0.5); */
    color: #333333;
    position: relative;
    cursor: pointer;
    border-bottom: .0875rem dashed transparent;
    background: linear-gradient(#fff,#fff) padding-box, 
      repeating-linear-gradient(-45deg,#fda22d 0, #fda22d 0.3em, #fff 0,#fff 0.6em);
  }
  
  .news.news-content.new_right_context li:last-child::after {
    display: none;
  }
  
  .news .news-content .new_right_context li:last-child {
    border-bottom: none;
  }
  
  .new_right_context .new_title,
  .new_right_context .new_date  {
    font-size: 1.625rem;
    color: #4d4d4d;
  }
  .new_right_context .new_title:hover{
    color: blue;
  }
footer{
    width: 100%;
    background: #f2f2f2;
    padding: .9375rem;
}
footer>p{
    width: 105.3125rem;
    margin: .9375rem auto;
    font-size: 1.375rem;
    
}
footer>p a{
    color: #666;
}
footer>p span:hover{
    color: blue;
}
.footer_con{
    display: flex;
    align-items: center;
    position: relative;
    width: 105.3125rem;
    margin: 1.25rem auto;
}
.footer_con>div{
    margin-right: 12.5rem;
}
.footer_con>div h3{
    font-size: 1.5625rem;
    line-height: 2.5rem;
    margin: 1.25rem 0;
    color: #4d4d4d;
}
.footer_con>div p a{
    line-height: 2.5rem;
    font-size: 1.375rem;
    color: #666;
    cursor: pointer;
}
.footer_con>div p:hover{
    color: blue;
}
.footer_bg{
    height: 3.125rem;
    background: url(../img/image_bottom.png) no-repeat center/cover;
}
.footer_logo img{

    display: block;
    height: 5.3125rem;
    position: absolute;
    right: 7.5rem;
    top: 2.5rem;
    /* float: right; */

}
.banner {
    width: 121.25rem;
    margin:0 auto;
    /* border: .625rem solid greenyellow; */
    height: 46.25rem;
    position: relative;
    overflow: hidden;
}

.imgList {
    list-style: none;
    /* width: 155rem; */
    position: absolute;
    /* left:-38.75rem; */
}

.imgList img {
    width: 121.25rem;
    /* width: 1920px; */
    height: 46.25rem;
}

.imgList li {
    float: left;
    margin-right: 1.25rem;
}

.circle {
    position: absolute;
    bottom: .9375rem;
    left: 50%;
    transform: translateX(-50%);
}

.circle a {
    width: .9375rem;
    height: .9375rem;
    background: #999;
    display: block;
    border-radius: 50%;
    opacity: .5;
    float: left;
    margin-right: .3125rem;
    cursor: pointer;
}

.circle a.hover {
    background: #019b4b;
    opacity: .8;
}

.banner .left{
    position: absolute;
    top: 20.625rem;
    left: 3.75rem;
    width: 3rem;
    height: 3rem;
    background: url(../img/icon_left.png) no-repeat center/cover;
}
.banner .right{
    position: absolute;
    top: 20.625rem;
    right: 3.75rem;
    width: 3rem;
    height: 3rem;
    background: url(../img/icon_rignt.png) no-repeat center/cover;
}


.tab-tilte li {
 
    cursor: pointer;
}
/* 点击对应的标题添加对应的背景颜色 */

.tab-content div {

    float: left;
    width: 25%;
    line-height: 6.25rem;
    text-align: center;
    display: none;
}
.tab-content div.cur{
    display: block;
}